body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: white;
  box-sizing: border-box;
  margin: 0;
  /* background-color: rgb(160, 160, 160); */
}

.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* padding: 0 5%; */
  width: 100%;
  /* height: 100vh; */
  background-color: rgb(37, 37, 37);
}

/* HEADER */

/* @include forTablet {
      flex-direction: column;
      margin: 20px auto 0;
      h1 {
        font-size: 1.4em;
      }
    } */

/* @include forMobile2 {
      h1 {
        font-size: 1em;
      }
    } */

/* Pages */
.page {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
  min-height: 100vh;
  padding: 0;
}

.headerMain {
  padding-bottom: 100px;
}

.header {
  background-color: rgb(37, 37, 37);
  padding: 20px 5% 30px;
}
.contentHeader {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  height: fit-content;
  margin: 0 auto;
  padding: 10px 4%;
  color: white;
  background-color: rgb(37, 37, 37);
  /* border: 2px solid white;
  border-radius: 20px; */
  border-bottom: 1px solid white;
}
h1 {
  color: rgb(238, 2, 2);
  margin: 0 auto 14px;
  padding: 0;
  font-size: 2.2em;
}

/* NAVBAR */
.navBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 0 1%; */
  font-size: 1.1em;
  font-weight: 500;
}

.navBarLink {
  justify-content: flex-end;
  color: white;
  text-decoration: none;
}
.navBarLink:hover {
  text-decoration: underline 0.1rem;
}
.navBarLink.active {
  text-decoration: underline 0.1rem;
}
/* @include forTablet {
      width: 90%;
    }
  
    @include forMobile {
      font-size: 12px;
      text-transform: uppercase;
  
      .navBarLink {
        // margin-left: 10px;
        &:hover {
          text-decoration: underline 1px;
        }
      }
      .navBarLink.active {
        text-decoration: underline 1px;
      }
    }
    @include forMobile2 {
      flex-direction: column;
      font-size: 12px;
      text-transform: uppercase;
      .navBarLink {
        margin: 2px auto;
      }
    } */

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  /* align-items: flex-start; */
  padding: 0 5%;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
}

.my-image {
  /* flex: 20%; */
  /* min-width: 40%; */
  /* max-height: 100%; */
  border-radius: 6%;
  overflow: hidden;

  width: 48%;
  /* background-color: bisque; */
}

img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  object-position: center;
}

.homeArticle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* flex-grow: 1; */
  margin: 1em auto 1em;
  width: 75%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* flex-grow: 1; */
  margin: 1em auto 0;
  width: 75%;
}

h2 {
  /* color: rgb(238, 2, 2); */
  margin: 1em au0to 0.6em;
}

.h2Construct {
  color: rgb(238, 2, 2);
}

h4 {
  margin: 0 auto 2em;
}

span {
  font-weight: bold;
  color: rgb(238, 2, 2);
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  /* width: 75%; */

  /* & p {
    margin: 0 0 1em;
    line-height: 1.6em;
  } */
  /* & li em {
    color: white;
    font-style: normal;
    font-weight: bold;
  } */
}

a {
  color: rgb(238, 2, 2);
  text-decoration: none;
}

.my-imageBio {
  border: 1px solid white;
  min-width: 250px;
  height: auto;
  /* min-height: 200px; */
  /* flex: 50%; */
  /* min-width: 40%; */
  /* max-height: 100%; */
  border-radius: 5%;
  overflow: hidden;
  margin-right: 1em;
  /* width: 48%; */
  /* background-color: bisque; */
  /* height: 200px; */
}

.my-imageBio:nth-child(2n) {
  margin: 0 0 0 1em;
  /* border: 3px solid greenyellow; */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

section p {
  margin-top: 0;
  line-height: 1.6em;
}

article p {
  margin: 0 0 1em;
  line-height: 1.6em;
}

.linkJohannVigon {
  color: white;
}

em {
  color: white;
  font-style: normal;
  font-weight: bold;
}

section:last-child {
  margin-bottom: 80px;
}

/* h2 {
  margin: 1em auto 0.6em;
} */

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  box-sizing: border-box;
  /* padding: 14px 0px 14px; */
  background-color: Black;
  width: 100%;
  height: 100px;
}

footer h3 {
  margin: auto;
  /* color: rgb(171, 65, 65); */
  font-size: 16px;
  font-weight: 400;
}
/* .h3Logo {
  margin: 0;
  padding: 0;
} */

/* @include forMobile {
    width: 100%;
    margin-top: 20px;
    h3 {
      margin-top: 26px;
      font-size: 12px;
    }
  }
  @include forMobile2 {
    h3 {
      font-size: 10px;
    }
  } */
